.deposit {
  &-block {
    padding: 40px;
    background: rgba($white, 0.6);
    width: 100%;
    max-width: 635px;
    margin: auto;
    position: relative;

    .title-sub {
      font-weight: 400;
      margin-bottom: 24px;
    }

    > p {
      color: $grayLight;
      margin-bottom: 8px;
    }

    input {
      max-width: 400px;
      margin: auto;
      letter-spacing: 2px;
      height: 100%;

      &::placeholder {
        opacity: 0.8;
      }
    }

    &--btns {
      margin-top: 30px;

      .btn {
        width: auto;
        min-width: 180px;
        margin: 0 15px;
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.17s all;
      border: 1px solid transparent;
      border-radius: 50%;

      &:hover {
        transform: rotate(90deg) scale(1.2);
        border-color: $red;
        color: $red;
        background: $bgContentHover;
      }
    }
  }
}
