/* HindMadurai */

@font-face {
  font-family: 'HindMadurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/hind_madurai/HindMadurai-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'HindMadurai';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/hind_madurai/HindMadurai-SemiBold.ttf') format('truetype')
}

/* IBMPlexSans */

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/ibm_plex_sans/IBMPlexSans-SemiBold.ttf') format('truetype')
}
