//Colors

$dark: #42464E;
$darkLightHover: #55565e;
$white: #FCFDFE;
$whiteHover: #deeafa;
$primary: #467FED;
$primaryLightHover: #5289f1;
$black: #000000;
$gray: #767676;
$grayLight: #676B72;
$grayMiddle: #999B9E;
$pink: #96ABE3;
$isInvalid: #ffe0e0;
$red: #F05353;

$green: rgb(22, 206, 129);


//Background
$bgContent: #E7EFFB;
$bgContentHover: #dce5ef;
