
.form-wanda {
  max-width: 445px;
  width: 100%;
  margin: 0 auto;
  background: rgba(252, 253, 254, 0.6);
  border: 1px solid #E1EBFF;

  &-wr {
    margin-top: 50px;
  }

  &-header {
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      flex: 1;
    }
  }
  &-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  &-title-txt {
    text-align: center;
    padding-top: 40px;
  }
  &-main {
    padding: 10px 40px;
  }
  &-bottom-block {
    padding: 20px 40px 30px;
    text-align: center;
  }

  p, .label, .btn-link {
    font-size: 14px;
    line-height: 19px;
    color: $grayLight;
  }

  .btn-link {
    padding-bottom: 0;
  }

  &--btns {
    margin-top: 30px;
  }
}

.error {
  &:first-letter {
    text-transform: capitalize;
  }
}

.form-input-block {
  +.form-input-block {
    margin-top: 22px;
  }
}

.label {
  cursor: pointer;
  padding-left: 51px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-icon {
    cursor: pointer;
    position: absolute;
    left: 1px;
    top: 1px;
    flex: none;
    width: 38px;
    height: 38px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: $pink;

    img, svg {
      width: 100%;
    }
  }
}

.verify-bottom {
  padding-bottom: 40px;
}
